html, body, pre {
    width: 100%;
    height: 100%;
    margin: 0;
}

.controls {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#file {
    display: none;
}

#output {
    line-height: 1;
    font-variant-ligatures: none;
}

#video {
    max-width: 100vw;
    max-height: 100vh;
    /* display: none; */
}
